# Supabase Configuration
VITE_SUPABASE_URL=https://kfkjbfxvbmxtwslxciwj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtma2piZnh2Ym14dHdzbHhjaXdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3OTA3MTMsImV4cCI6MjA3MTM2NjcxM30.NPc0Hk6KEgbO7deOhU5p1X2kbhyiTkbXmAZ5ZkahMHk
VITE_SUPABASE_SERVICE_ROLE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtma2piZnh2Ym14dHdzbHhjaXdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTc5MDcxMywiZXhwIjoyMDcxMzY2NzEzfQ.ZqyuNhOqMUX3GtStyJiWS69u-0NYyUhQykQcvmf8EIg

# Google OAuth Configuration
VITE_GOOGLE_CLIENT_ID=1067470493660-9eav3rm9jdr6li2621ll8aa1pvor5qbn.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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

# GitHub Export Configuration (Optional)
VITE_GITHUB_TOKEN=your_github_personal_access_token
